In [19]:
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np

In [20]:
data = load_iris()
df = pd.DataFrame(data.data,columns = data.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [21]:
miss = pd.DataFrame({'Missing':df.isnull().sum()})
miss

                   Missing
sepal length (cm)        0
sepal width (cm)         0
petal length (cm)        0
petal width (cm)         0

In [22]:
x = df
y = data.target

In [50]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter= 1000)

In [51]:
model.fit(x,y)

LogisticRegression(max_iter=1000)

In [52]:
model.score(x,y)

0.9733333333333334

In [53]:
indx = model.predict([[3.2,5,2,4]])
flower_name = data.target_names[indx]
print(flower_name)

['setosa']

C:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(